$primary:#5a68d1;
@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/bootstrap.scss";
.sekunder {
    background-color: #eef9ff;
}

.primer {
    background-color: #0092ff;
}

.text-primer {
    color: #0092ff;
}

.text-sekunder {
    color: #eef9ff;
}